.peoples-inner{
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

.card{
  padding: 7px;
  border: 2px solid white;
  width: 250px;
  height: 375px;
  text-align: center;
}
.user-avatar{
  width: 100px;
  padding-bottom: 15px;
}
.user-header{
  font-size: 15px;
  padding-bottom: 10px;
}
.user-text{
  color: white;
}